1. Total revenue for the current year
2. New Customer Revenue e.g. new customers not present in previous year only
3. Existing Customer Growth, Revenue of existing customers for current year – Revenue of existing customers from existing year
4. Revenue lost from attrition
5. Existing Customer Revenue Current Year
6. Existing Customer Revenue Prior Year
7. Total Customers Current Year
8. Total Customers Previous Year
9. New Customers
10. Lost Customers

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
df = pd.read_csv('Downloads/casestudy.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'customer_email', 'net_revenue', 'year'], dtype='object')

In [12]:
df.head()

          customer_email  net_revenue  year
0   nhknapwsbx@gmail.com       249.92  2015
1   joiuzbvcpn@gmail.com        87.61  2015
2   ukkjctepxt@gmail.com       168.38  2015
3   gykatilzrt@gmail.com        62.40  2015
4   mmsgsrtxah@gmail.com        43.08  2015

In [4]:
df = df.drop(columns = ['Unnamed: 0'])

In [5]:
df.year.unique()

array([2015, 2016, 2017])

Total revenue for the current year

In [6]:
df.groupby('year').sum().reset_index()

   year  net_revenue
0  2015  29036749.19
1  2016  25730943.59
2  2017  31417495.03

New Customer Revenue e.g. new customers not present in previous year only

In [7]:
group2015 = df.groupby(['year'])['customer_email','net_revenue'].get_group(2015)

/Users/manisha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [8]:
group2016 = df.groupby(['year'])['customer_email','net_revenue'].get_group(2016)

/Users/manisha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [9]:
group2017 = df.groupby(['year'])['customer_email','net_revenue'].get_group(2017)

/Users/manisha/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [37]:
#attrition loss
group2016[~group2016['customer_email'].isin(group2015['customer_email'])].sum()['net_revenue']

18245491.010000203

In [38]:
#attrition loss
group2017[~group2017['customer_email'].isin(group2016['customer_email'])].sum()['net_revenue']

28776235.04

In [50]:
#Existing Customer Growth, Revenue of existing customers for current year – Revenue of existing customers from existing year
#2015,2016
existingcustomers2015 = pd.merge(group2016, group2015, how='inner', on=['customer_email'])
existingcustomers2015['diff'] = existingcustomers2015.apply(lambda x: x[1]-x[2],axis=1)
existingcustomers2015['diff'].sum()

20335.459999999985

In [51]:
#Existing Customer Growth, Revenue of existing customers for current year – Revenue of existing customers from existing year
#2016,2017
existingcustomers2016 = pd.merge(group2017, group2016, how='inner', on=['customer_email'])
existingcustomers2016['diff'] = existingcustomers2016.apply(lambda x: x[1]-x[2],axis=1)
existingcustomers2016['diff'].sum()

20611.340000000004

In [55]:
#Existing Customer Revenue Current Year
#2015,2016
existingcustomers2015 = existingcustomers2015.rename(columns={'net_revenue_x':'2016_rev','net_revenue_y':'2015_rev'})
existingcustomers2015['2016_rev'].sum()

7485452.58

In [56]:
#Existing Customer Revenue Prior Year
existingcustomers2015['2015_rev'].sum()

7465117.12

In [57]:
#Existing Customer Revenue Current Year
#2016,2017
existingcustomers2016 = existingcustomers2016.rename(columns={'net_revenue_x':'2017_rev','net_revenue_y':'2016_rev'})
existingcustomers2016['2017_rev'].sum()

2641259.99

In [58]:
#Existing Customer Revenue Prior Year
existingcustomers2016['2016_rev'].sum()

2620648.65

In [62]:
# 2015,2016
# Total customers current year
group2016.customer_email.count()

231294

In [63]:
# Total customers previous year
group2015.customer_email.count()

204646

In [64]:
# 2016,2017
# Total customers current year (2017)
group2017.customer_email.count()

249987

In [65]:
# 2016,2017
# Total customers previous year (2016)
group2016.customer_email.count()

204646

In [76]:
#New customers for the year 2015-2016
#Customers in 2016 but not in 2015
df_all = group2016.merge(group2015.drop_duplicates(), on=['customer_email'], 
                   how='left', indicator=True)
print(df_all[df_all['_merge'] == 'left_only']['customer_email'].count())

145062

In [77]:
#New customers for the year 2016-2017
#Customers in 2017 but not in 2016
df_all = group2017.merge(group2016.drop_duplicates(), on=['customer_email'], 
                   how='left', indicator=True)
print(df_all[df_all['_merge'] == 'left_only']['customer_email'].count())

229028

In [80]:
#Lost customers for the year 2015-2016
group2016[~group2016['customer_email'].isin(group2015['customer_email'])]['customer_email'].count()

145062

In [81]:
#Lost customers for the year 2016-2017
group2017[~group2017['customer_email'].isin(group2016['customer_email'])]['customer_email'].count()

229028